/* Footer */

#footer {
    width: 100%;
    max-width: 100%;
    margin-top: 2rem;
    text-align: center;
  
    .copyright {
      letter-spacing: _font(letter-spacing);
      /* font-size: 0.6rem; */
      opacity: 0.75;
      margin-bottom: 0;
      text-transform: uppercase;
  
      a {
        font-weight: bold;
      }
    }
  
    .body.is-loading & {
      opacity: 0;
    }
  }