@import './mixins.scss';
// Importing variables
// https://bulma.io/documentation/customize/variables/
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.scss';

@import './button.scss';

@import './components/_footer.scss';

.gradientBg {
	display: flex;
	background: linear-gradient(to right, $primary-color, $secondary-color);
}

.has-text-pcr {
	color: red !important;
}

.has-text-lily {
	color: purple !important;
}

a {
	color: black;
	font-style: bold;
}

a:hover {
	text-decoration: underline;

}

@media screen and (min-width: 1028px) {
	.navbar-center {
		margin-left: auto;
		margin-right: auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;

	a {
		border-bottom: 1px solid;
		color: black;
	}

	a:hover {
		color: $secondary-color;
	}
}

/* faire ressembler les boutons à des liens */
.link-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.link-button:hover,
.link-button:focus {
	text-decoration: none;
}

.hero.is-fullheight:first-of-type {
	height: 91vh !important;
	min-height: 91vh !important;
}

.full-width-image {
	width: 100vw;
	height: 400px;
	background-size: cover;
	background-position: bottom;
	display: flex;
	justify-content: center;
	align-items: center;
}

#specnav>*:hover {
	background-color: rgba(192, 192, 192, 0.3);
}


// Page compagnie
.card {
	margin: 10px;
}

// Spectacles
.publicMaternellePrimaire {
	text-decoration: underline;
	font-weight: bold;
	color: white;
	margin: auto;
	padding: 6px;
	border: 1px solid black;
	border-radius: 4pt;
}