@import './mixins.scss';
// Importing variables
// https://bulma.io/documentation/customize/variables/
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.scss';

@import './button.scss';

@import './components/_footer.scss';

.gradientBg {
	display: flex;
	background: linear-gradient(to right, $primary-color, $secondary-color);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		border-bottom: 1px solid;
		color: black;
	}
	a:hover {
		color: $secondary-color;
	}
}

/* faire ressembler les boutons à des liens */
.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.link-button:hover,
.link-button:focus {
text-decoration: none;
}

.hero.is-fullheight:first-of-type{
	height:91vh !important;
	min-height: 91vh !important;
}

.full-width-image {
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}